.features {
    padding: 8rem 3rem;
    text-align: center;

    .feature__boxes {
        display: flex;
        justify-content: center;
        position: relative;
        justify-content: space-between;
        max-width: 60rem;
        margin: 0 auto;

        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: #eee;
            position: absolute;
            top: 4.9rem;
           
        }

        .feature__box {
            z-index: 2;
            background: #fff;
        }



        .feature-box-icon {
            font-size: 4rem;
            color: #ee6787;
            width: 10rem;
            height: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #eee;
            border-radius: 50%;
            margin-bottom: 2rem;
        }

        .feature-box-caption {
            font-size: 2rem;
        }


    }

}
