.features {
    padding: 8rem 3rem;
    text-align: center;

    .feature__boxes {
        display: flex;
        justify-content: center;
        position: relative;

        &::after {
            content: '';
            width: 60%;
            height: 2px;
            background-color: #eee;
            position: absolute;
            top: 5rem;
           
        }

        .feature__box {
            z-index: 2;
            background: #fff;
        }

        .feature__box:not(:last-child) {
            margin-right: 8%;
            
        }

        .feature-box-icon {
            font-size: 4rem;
            color: #ee6787;
            width: 10rem;
            height: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #eee;
            border-radius: 50%;
            margin-bottom: 2rem;
        }

        .feature-box-caption {
            font-size: 2rem;
        }


    }

}
